

<ion-content color="dark">
  <ion-header>
    <ion-toolbar>
      <ion-title>Contact Book</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card style="max-width: 30rem;  margin: auto; margin-bottom: 1rem;margin-top: 2rem;" >
    <ion-searchbar showCancelButton="always"  (keyup.enter)='search($event)' placeholder="Search Your contact email"></ion-searchbar>

    <ion-card-header>
      <ion-card-title>Add Your Contact</ion-card-title>
    </ion-card-header>
    <form [formGroup]="contactForm" (ngSubmit)="submitForm()" novalidate>

      <ion-item lines="full">
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>



      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>



      <ion-item lines="full">
        <ion-label position="floating">Mobile</ion-label>
        <ion-input maxlength="10" formControlName="mobile" type="text" required></ion-input>
      </ion-item>


      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
        </ion-col>
      </ion-row>
    </form>

  </ion-card>

  <div style="max-width: 20rem;  margin: auto; margin-bottom: 1rem;margin-top: 2rem;">

     <ion-button type="submit" color="success" fill="outline" expand="block" routerLink="/phonebook">PhoneBook   <ion-icon slot="end" name="book"></ion-icon>
     </ion-button><br>
     <ion-button type="submit" color="warning" fill="solid" expand="block" routerLink="/">Back to Home   <ion-icon slot="end" name="home"></ion-icon>
     </ion-button>
  </div>


</ion-content>
