
<ion-content color="dark">
  <div style="max-width: 20rem;  margin: auto; margin-bottom: 1rem;margin-top: 2rem;">
    <ion-button type="submit" color="warning" fill="outline" expand="block" routerLink="/">Back to Home   <ion-icon slot="end" name="home"></ion-icon>
    </ion-button>
 </div>
<ion-list style="max-width: 30rem;  margin: auto; margin-bottom: 1rem; margin-top: 1rem;" >
  <ion-list-header> User List</ion-list-header>

  <ion-item *ngFor="let item of users" routerLink="{{item.id}}">
    <ion-avatar slot="start">
      <img src="../../../assets/programmer.png" alt="profile_picture"/>
    </ion-avatar>
    <ion-label>
      <h2 >{{item.name}}</h2>
      <h3>{{item.company.name}}</h3>
      <p>{{item.company.catchPhrase}}</p>
    </ion-label>
  </ion-item>
  </ion-list>
</ion-content>
